.flexbox{

   display: flex;
   justify-content: space-between;
   align-content: center;   
   align-items: center;   
   text-align: left;

   @include respond(tablet_port){
   text-align: center;
   flex-direction: column
  
    }
}